<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}School Management System{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>School Management System</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 School Management System</p>
    </footer>
</body>
</html>
